<div class="create">
<form class="input control">
<div>
<label for="question" class="">Question</label>
<input type="text" name="question" id="" class="">
</div>
<div>
<label for="answer" class="">Answer</label>
<input type="text" name="answer" id="" class="">
</div>
<input type="text" name="deck_id" id="<%= deck.deck_id %>" value="<%= deck.deck_id %>" hidden>
<div>
<input type="button" value="Create" hx-post="/deck/<%= deck.deck_id %>/card/create" hx-trigger="click" hx-target="#deck" hx-swap="innerHTML">
</form>
</div>