<%- include('head') %>

<%- include('nav') %>

  <div class="">
<h1 name="defined" hx-trigger="click" hx-post="/clicked" hx-swap="innerHTML" class="" >Welcome to Linguatron</h1>
  <button name="defined" hx-trigger="click" hx-post="/clicked" hx-swap="innerHTML">
    Click Me
  </button>
  </div>

<%- include('footer') %>