<!-- Absolutely terrible design! Oh well.. -->

<div class="container fixed-grid has-1-cols">
<h1 class="title decks">Decks</h1>
  <div class="grid" id="parentdiv">
    <% decks.forEach(function(deck, index){ %>
      <button class="cell level button" hx-target=".container" hx-trigger="click" hx-swap="innerHTML" hx-get="/deck/<%= deck.deck_id %>"><%= deck.deckname %></button>
      <% }) %>
  </div>
  <button class="button" hx-get="/deck/create" hx-target=".container" hx-swap="outerHTML">Create Deck</button>
  </div>